
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   /* cursor: pointer;*/
  }

  body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#3f5efb,#E90064);
   
  }
  
  form{
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background: rgba(225,225,225,0.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border-radius: 30px;
    border-left: 1px solid rgba(225,225,225,.3);
    border-top: 1px solid rgba(225,225,225,.3);
  
  }
  form::before{
    content: '';
    position: absolute;
    bottom: 8%;
    right: 32%;
    width: 120px;
    height: 120px;
    background-color:magenta;
    border-radius: 50%;
    opacity: .8;
    z-index: -1;
    
  }
  form::after{
    content: '';
    position: absolute;
    top: 8%;
    left: 32%;
    width: 120px;
    height: 120px;
    background-color:magenta;
    border-radius: 50%;
    opacity: .8;
    z-index: -1;
  }
  h1{
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgb(2, 2, 2,.2);
    letter-spacing: 3px;
    margin-bottom: 5%;
    opacity: .7; 
    transition: 2s;   
  }
  label{
    font-size: 20px;
    color: white;
    margin-left: 10%;
    opacity: .8;
    text-shadow: 2px 2px 4px rgb(2, 2, 2,.2);
    transition: 2s;
  }
  input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;
    border: none;
    outline: none;
    background: transparent;
    color: whitesmoke;
    border-bottom: 1px solid white;
    opacity: .8;
    
  }
  button{
    width: 50%;
    margin: 3% auto;
    color: white;
    font: 15px;
    opacity: 0.7;
    background: rgba(225,225,225,0.06);
    padding: 10px 30px;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(225,225,225,.3);
    box-shadow: 3px 3px 5px rgba(31,38,135,.37);
    border: none;
    outline: none;
    border-left: solid 1px white;
    border-top: 1px solid white;
    transition: 2s;
  }
  button:hover{
    border-right: solid 1px #3f5efb;
    border-bottom: solid 1px #3f5efb;
    border-top: #E90064 solid 1px;
    border-left: #E90064 solid 1px;
    transition: .7s;
    font-size: 16px;
   
  }
  a{
    font-size: 12px;
    text-align: center;
    color: white;
    opacity: .7;
    transition: 2s;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline white;
    font-size: 14px;
    transition: .5s;

  }
